<div class="d-flex mb-3 <%= message.role == 'user' ? 'justify-content-end' : 'justify-content-start' %>">
  <div class="message-bubble <%= message.role == 'user' ? 'user-message' : 'assistant-message' %>">
    <%= simple_format(message.content) %>
  </div>
</div>
